<h1>cookies</h1>

<form action="/cookies" method="post" id="myForm">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <br/> <br/>
    <label for="email">Email</label>
    <input type="text" name="email" />
    <br/><br/>
    <button type="submit">Set cookies</button>

</form>
<br>
<button onclick="getCookies()">Get cookies</button>

<script src="js/cookies.js"></script>
